{% extends 'base.html' %}

{% block titulo %}

Agregando Mascota!

{% endblock titulo %}

{% block tituloh1 %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 d-flex justify-content-center">
            <h1 class="text-center">Agregando tu Mascotas</h1>
        </div>
    </div>
</div>
{% endblock tituloh1 %}


{% block contenido %}

<form action="" method="post">
    {{ form.hidden_tag() }}

    <div class="row">

        <div class="col">
          {{ form.nombre_mascota.label }}
          {{ form.nombre_mascota }}
        </div>

        <div class="col">
            {{ form.fecha_nacimiento.label }}
            {{ form.fecha_nacimiento }}
        </div>

    </div>




</form>


{% endblock contenido %}